<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Main_CSS.css' %}"></head>
<body>
<h1>Dashboard</h1>
<p>Welcome, {{ user.username }}!</p>
<p>This is your home-page.</p>
<a href="{% url 'logout' %}">Logout</a>
<br>
{% for poll in polls %}
    <div class="poll">
        <div class="poll_left">
            <div class="question">
                <h2>{{ poll.question }}</h2>
            </div>
            <div class="choice">
                {% for choice in choices %}
                    {% if choice.poll == poll %}
                        <p>{{ choice.text }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="poll_right">
            <div class="delete">
                {% if user == poll.user %}
                    <button onclick="deletePoll({{ poll.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                {% endif %}
            </div>
            <div class="user">
                <p>Created by: {{ poll.user }}</p>
            </div>
        </div>
    </div>

{% endfor %}
<br>
<a href="{% url 'create_poll' %}">Create a new poll</a>
<br>
</body>
</html>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function deletePoll(pollId) {
        const csrftoken = getCookie('csrftoken');

        fetch(`/delete_poll/${pollId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    alert('Error deleting poll');
                }
            });
    }
</script>