<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Login_CSS.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
<br>
<a href="{% url 'Login' %}">Already have an account? Login here</a>
<br>
<a href="{% url 'admin:login' %}">Login as admin</a>
</body>
</html>
